.Main {
    display: grid;
    grid-template-columns: auto auto;
}

.Main img
{
    width: 60%;
    margin-left: 30%;
}

#Header
{
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

h2, p {
    text-align:center;
}

#PortraitImage {
    width: 60%;
    margin-left: 30%;
}

.ImageText
{
    vertical-align: middle;
    align-content:center;
    text-align:center;
    margin-bottom: 10%;
    margin-right: 20%;
}

.GameImage
{
    width: 60%;
}

.Showcase
{
    display: grid;
    text-align: center;
}

.Showcase p
{
    margin-left: 12%;
    margin-right: 12%;
}

#Games
{
    grid-template-columns: auto auto auto;
}

#Art
{
    grid-template-columns: auto auto auto auto auto;
}

#Art img
{
    width: 90%;
}

.Footer
{
    padding-top: 3%;
    background-color: black;
    color:white;
}
.Footer img
{
    width: 2%;
}

#Test:hover {
    src:url("Assets/Games/RootemTootemAnim.webp");
}   

/*Huuuge hover list of Games*/

#Gooly:hover
{
    src:url("Assets/Games/GoolyAnim.webp");
}