body {
    align-items: center;
    background-image: url('BackgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#WorldeContainer
{
    color:aqua;
}
h2, p {
    color: white;
}

h2, p, div, button {
    align-items: center;
    text-align:center;
}

#WordleRegenerator input
{
    width: 1.5ch;
}

#Credits img
{
    width: 3%;
}