body {
    align-items: center;
    background-image: url('BackgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    align-items: center;
}
h2 {
    text-align:center;
}