/*For all code that is shared between media styles is posted her for less bloat*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a:hover {
    color: #25DBEC;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

aside {
    background: #f4f4f4;
    padding: 15px;
}

main {
    background: #fff;
    padding: 15px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1em;
}

/*Desktop View*/
@media screen and (min-width: 700px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }


    header {
        text-align: left;
    }
    
    nav ul {
        text-align: left;
    }


    nav li {
        display: inline-flex;
    }
    
    
    aside {
        display: inline-block;
    }


    .image-container
    {
        display: flex;
        align-items:baseline;
        gap: 10px;
    }

    .image-container img {
        width: 33%;
        height: 33%;
    }
}



/* Mobile View */
@media screen and (max-width: 699px) {
    body {
        font-size: 135%;
    }
    
    header {
        text-align: center;
        font-size: 130%;
    }
    #imagecontainer {
        display:inline;
    }
    nav ul {
        text-align: center;
    }
    
    aside {
        display: none;
    }
    
    footer {
        position: sticky;
        bottom: 0;
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }
}